name: Test

on:
  workflow_dispatch:
  pull_request:
    paths:
      - package.json
      - src/**
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: setup node
        uses: actions/setup-node@v5
        with:
          node-version: '22'

      - name: install dependencies
        run: npm install

      - name: test
        run: npm test